<<<<<<< HEAD
* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
}


.cf:before,
.cf:after,
.row:before,
.row:after {
  height: 0;
  content: "";
  display: table;
}

.cf:after,
.row:after {
  clear: both;
}

[class^="col-"],
[class*=" col-"] {
  float: left;
}
/*for Phones*/
[class*="col-"] {
  width: 100%
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-m-100 {width: 100%;}
  .col-m-90 {width: 90%;}
  .col-m-80 {width: 80%;}
  .col-m-75 {width: 75%;}
  .col-m-66 {width: 66.6666%;}
  .col-m-50 {width: 50%;}
  .col-m-33 {width: 33.3333%;}
  .col-m-25 {width: 25%;}
  .col-m-20 {width: 20%;}
  .col-m-10 {width: 10%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
.col-100 {width: 100%;}
.col-90 {width: 90%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-66 {width: 66.6666%;}
.col-50 {width: 50%;}
.col-33 {width: 33.3333%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-10 {width: 10%;}
}
=======
* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
}


.cf:before,
.cf:after,
.row:before,
.row:after {
  height: 0;
  content: "";
  display: table;
}

.cf:after,
.row:after {
  clear: both;
}

[class^="col-"],
[class*=" col-"] {
  float: left;
}
/*for Phones*/
[class*="col-"] {
  width: 100%
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-m-100 {width: 100%;}
  .col-m-90 {width: 90%;}
  .col-m-80 {width: 80%;}
  .col-m-75 {width: 75%;}
  .col-m-66 {width: 66.6666%;}
  .col-m-50 {width: 50%;}
  .col-m-33 {width: 33.3333%;}
  .col-m-25 {width: 25%;}
  .col-m-20 {width: 20%;}
  .col-m-10 {width: 10%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
.col-100 {width: 100%;}
.col-90 {width: 90%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-66 {width: 66.6666%;}
.col-50 {width: 50%;}
.col-33 {width: 33.3333%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-10 {width: 10%;}
}
>>>>>>> becbf464f14de19c8caa41c96160972465e60787
