<<<<<<< HEAD
* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  /*max-width: 960px;*/
  /*max-width: 1200px;*/
}


.cf:before,
.cf:after,
.row:before,
.row:after {
  content: "";
  display: table;
}

.cf:after,
.row:after {
  clear: both;
}


[class^="col-"],
[class*=" col-"] {
  float: left;
}

.col-100 {width: 100%;}
.col-90 {width: 90%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-66 {width: 66.6666%;}
.col-50 {width: 50%;}
.col-33 {width: 33.3333%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-10 {width: 10%;}
=======
* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  /*max-width: 960px;*/
  /*max-width: 1200px;*/
}


.cf:before,
.cf:after,
.row:before,
.row:after {
  content: "";
  display: table;
}

.cf:after,
.row:after {
  clear: both;
}


[class^="col-"],
[class*=" col-"] {
  float: left;
}

.col-100 {width: 100%;}
.col-90 {width: 90%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-66 {width: 66.6666%;}
.col-50 {width: 50%;}
.col-33 {width: 33.3333%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-10 {width: 10%;}
>>>>>>> becbf464f14de19c8caa41c96160972465e60787
