@media only screen and (min-width: 400px){
  [class*="col-"] {
    width: 100%;}
  .nav-list li {padding-right: 5px;}
  p { line-height: 150%;}
  .icon-left { padding-left: 5px;}
  .nav-bottom-left li {
    display: list-item;
    padding-left: 5px;
  }
  .nav-bottom-right li {
    display:list-item;
  }
  .main {
    width: 100%;
    height: 100%;
  }
  .main p, h1 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-menu {
    padding-left: 5px;
  }
  .main-menu li {
    display:list-item;
  }
  .articles {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
    .col-m-100 {width: 100%;}
    .col-m-90 {width: 90%;}
    .col-m-80 {width: 80%;}
    .col-m-75 {width: 75%;}
    .col-m-66 {width: 66.6666%;}
    .col-m-50 {width: 50%;}
    .col-m-33 {width: 33.3333%;}
    .col-m-25 {width: 25%;}
    .col-m-20 {width: 20%;}
    .col-m-10 {width: 10%;}

    .nav-list li {padding-right: 10px;}
    p { line-height: 150%;}

    .icon-left { padding-left: 10px;}
    .nav-bottom-left li {
      display: inline;
      padding-left: 10px;
    }
    .nav-bottom-right li {
      display:inline;
      padding-right: 10px;
    }
    .main {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%
  }
  .main p, h1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-menu {
    padding-left: 10px;
  }
  .main-menu li {
    display:list-item;
    padding-left: 10px;
  }
  .map-image {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 768px){

.col-100 {width: 100%;}
.col-90 {width: 90%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-66 {width: 66.6666%;}
.col-50 {width: 50%;}
.col-33 {width: 33.3333%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-10 {width: 10%;}
}
