* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
  height: 100%;
  max-height: 100%;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: url(photo.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  margin: 0 auto;
  width: 60%;
  max-width: 960px;
  margin-top: 10%;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.9;
}

.cf:before,
.cf:after,
.row:before,
.row:after {
    content: "";
    display: table;
}

.cf:after,
.row:after {
  clear: both;
}

[class^="col-"],
[class*=" col-"] {
  float: left;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.3333%;
}

.col-66 {
  width: 66.6666%;
}

.col-75 {
  width: 75%;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
}
/*Header*/
.profil {
  float:left;
  padding: 20px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.actor-name {
  display: block;
  float: left;
}
h1 {
  margin-bottom: 0;
}
.actor-name p {
  margin-top: 0;
  color: gray;
}
/*Payments and billing info*/
input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

.no-border {
    border-right:0;
}

.active  {
  display:block;
  width: 100%;
  margin:0;
  background-color: #7F3FBF;
  color: white;
  text-align: center;
}

.active p {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
}
/*triunghiul alb*/
.arrow-up {
  position: relative;
	width: 0;
	height: 0;
  margin-left: 50%;
	border-left: 8px solid #7F3FBF;
	border-right: 8px solid #7F3FBF;
	border-bottom: 8px solid white;
}

.billing {
  display: block;
  width: 100%;
  padding-bottom: 6px;
  border-top: 1px solid gray;
  border-bottom:  1px solid gray;
  background-color: white;
  color: black;
  text-align: center;
}

.center input {
  text-align: center;
}

.big-cell {
  padding-top:0;
  padding-bottom: 0;
}

.big-cell input{
  padding-bottom: 64px;
  padding-top: 63px;
  color: black;
  font-size: 50px;
}

.selected-price {
  background-color: yellow;
  color: black;
}
/*Footer*/
.footer {
  padding: 20px;
}

.remember {
  line-height: 55px;
}

.check-input {
  display: inline;
  width: 16px;
  padding: 20px;
  background-color: white;
  font-size: 18px;
}

.icon-info {
  width: 14px;
  height:14px;
}

span {
  color: gray;
}

button {
  float:right;
  width: 150px;
  border-radius: 5px;
  padding: 15px 8px;
  background-color: #008000;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
