<<<<<<< HEAD
* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
}

.container {
  width:100%;
  max-width: 960px;
  margin:0 auto;
  font-family: sans-serif;
  font-size: 13px;
  color: #8D8686;
}

.cf:before,
.cf:after,
.row:before,
.row:after {
    content: "";
    display: table;
}

.cf:after,
.row:after {
  clear: both;
}

[class^="col-"],
[class*=" col-"] {
  float: left;
  padding: 10px;
}
/* gridul meu */
.col-100 {
  width: 100%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.3333%;
}
.col-66 {
  width: 66.6666%;
}
.col-75 {
  width: 75%;
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}

.bigimg {
  width: 100%;
  height: 100%;
}
.smallimg {
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
  color: #292727;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.options {
  margin-top: 30px;
}

.selectcolors {
  display:block;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #D9D7D7;
  border-radius: 5px;
  background: url(down_arrow.png) no-repeat 90% 50%;
  background-size: 10%;
  appearance:none; /* scoatem sagetica default*/
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  font-size: 13px;
}

.btn {
  display:inline-block;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #D9D7D7;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #3c4a5a;
}

.active {
  background-color: #3c4a5a;
  color: white;
}

.sizes {
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  display:inline-block;
  float: left;
  padding-right: 20px;
  padding-top: 10px;
  border-top: 1px solid  #D9D7D7;
  font-style: italic;
  color: #D9D7D7;
}
/* randul de butoane mari*/
.bigbtn {
  float: left;
  width: 33%;
  margin: 0;
}
.bigbtn.active {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.centerbtn {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #D9D7D7;
}
.rightbtn {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #D9D7D7;
}
=======
* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
}

.container {
  width:100%;
  max-width: 960px;
  margin:0 auto;
  font-family: sans-serif;
  font-size: 13px;
  color: #8D8686;
}

.cf:before,
.cf:after,
.row:before,
.row:after {
    content: "";
    display: table;
}

.cf:after,
.row:after {
  clear: both;
}

[class^="col-"],
[class*=" col-"] {
  float: left;
  padding: 10px;
}
/* gridul meu */
.col-100 {
  width: 100%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.3333%;
}
.col-66 {
  width: 66.6666%;
}
.col-75 {
  width: 75%;
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}

.bigimg {
  width: 100%;
  height: 100%;
}
.smallimg {
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
  color: #292727;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.options {
  margin-top: 30px;
}

.selectcolors {
  display:block;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #D9D7D7;
  border-radius: 5px;
  background: url(down_arrow.png) no-repeat 90% 50%;
  background-size: 10%;
  appearance:none; /* scoatem sagetica default*/
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  font-size: 13px;
}

.btn {
  display:inline-block;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #D9D7D7;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #3c4a5a;
}

.active {
  background-color: #3c4a5a;
  color: white;
}

.sizes {
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  display:inline-block;
  float: left;
  padding-right: 20px;
  padding-top: 10px;
  border-top: 1px solid  #D9D7D7;
  font-style: italic;
  color: #D9D7D7;
}
/* randul de butoane mari*/
.bigbtn {
  float: left;
  width: 33%;
  margin: 0;
}
.bigbtn.active {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.centerbtn {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #D9D7D7;
}
.rightbtn {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #D9D7D7;
}
>>>>>>> becbf464f14de19c8caa41c96160972465e60787
